/* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@600&display=swap'); */
@font-face {
  font-family: myFirstFont;
  src: url(NetflixSans-Regular.woff2);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: myFirstFont;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1350px,100vw);
    height: 100vh;
    position: relative;
}
.main .box{
    opacity: 0.60;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}
nav{
    height: 60px;
    max-width: 75vw;
    padding: 12px;
    justify-content: space-around;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    color:red;
    width: 148px; /* Adjust the width as per your requirement */
    height: auto; /* Maintain aspect ratio */
    position:relative;
    z-index: 10;
}
nav button{
    position:relative;
    z-index: 10;
}
.hero{
    font-family: myFirstFont;
    font-weight: 900;
    font-style: bold;
    height:calc(100% - 86px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 30px;

}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 6px;
    background-color: rgb(35, 35, 35);
}

.hero, .separation {
    box-sizing: border-box;
}

.btn{
    padding:8px 19px ;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border: none;
}

.btn-red{
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 12px 37px;
    font-size: 24px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 4px;
    border: none;
}

.btn-red svg {
    vertical-align: middle; /* Adjust the vertical alignment */
    margin-bottom: 5px;
}


.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 163px 31px 10px;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    border: 2px solid rgb(229, 9, 20);
}

.first{
    display: flex;
    justify-content: center;
    padding: 26px;
    color: white;
    max-width: 70vw;
    margin: auto;
    align-items: center;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 61px;
    left: 61px;
    width: 74%;
    height: 59%;
}

.promo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.first >div :nth-child(2){
    font-size: 24px;
    /* font-weight: bold; */
}

.third .secImg video{
    position: absolute;
    top: -13px;
    left: 84px;
    width: 63%;
    height: 74%;
}


.faq h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox{
    display:flex;
    justify-content: space-between;
    background-color: #232323;
    font-size: 24px;
    max-width:70vw;
    padding: 1.5rem;
    color: white;
    margin: 10px auto;
    transition: 0.4s;
}

.faqbox:hover{
    background-color: #414141;
}


footer{
    max-width: 75vw;
    margin: auto;
    padding: 70px 0;

}

footer .question{
    margin-bottom: 20px;
}

.question a {
    color: #B3B3B3;
    margin-bottom: 20px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.footer-item a {
    color: #B3B3B3;
    font-size: 14px;
    gap: 20px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

